parameters:
    level: 8
    paths:
        - lib
        - tests
    excludePaths:
        - vendor
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getContents\(\)#'
    tmpDir: .phpstan
    parallel:
        maximumNumberOfProcesses: 4 